```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
loyalty_program/.env
.venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Database
*.sqlite
*.db

# Environment
loyalty_program/.env
.env.local
*.env*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
```